    <footer class="page-footer indigo darken-3">
      <div class="container">
        <h5 class="center orange-text text-accent-4 social">Seguici sui nostri canali social!</h5>
        <div class="row center">
           <div class="col s2 offset-s3"><%= link_to icon('envelope', class: 'fa-2x orange-text text-accent-4'), 'mailto:info@fitjoy.it', :title => "Mandaci una mail"  %></div>
           <div class="col s2"><%= link_to icon('facebook-square', class: 'fa-2x orange-text text-accent-4'), 'https://www.facebook.com/FitJoy-101551826567466', :title => "Contattaci su Facebook" %></div>
           <div class="col s2"><%= link_to icon('instagram', class: 'fa-2x orange-text text-accent-4'), 'https://www.instagram.com/fitjoy.it/', :title => "Seguici su Instagram"  %></div>
        </div>
      </div>
      <div class="footer-copyright indigo darken-4">
        <div class="container center">
        © 2016 <%= link_to 'FitJoy', 'http://fitjoy.it', :class => "orange-text text-accent-4", :title => "FitJoy" %> All rights reserved.
        </div>
      </div>
    </footer>